.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
    .searchbar{
        height: 100%;
        width: 100%;
        padding: 35px 45px ;

        
    }
    .button{
        padding: 5px 10px ;
        background: gray;
        border-radius: 15px;
        border-style: none;
    }
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
      }
    }
  }
  